.container_about {
    color: black;
    background-image: url("https://images.pexels.com/photos/187913/pexels-photo-187913.jpeg");
    background-size: cover;
    background-attachment: fixed;
    padding: 5rem;
    filter: hue-rotate(350deg);
  
    &_title {
      width: 70%;
      margin: 0 auto;
      color: rgb(255, 255, 255);
      font-size: 1.3rem;
      font-family: "Raleway", sans-serif;
  
  
      .divider {
        width: 60px;
        height: 20px;
        background-color: rgb(0, 68, 255);
      }
  
      h2 {
        text-transform: uppercase;
        font-size: 5rem;
        margin-top: 0;
      }
    }

    .container_about_description{
        width: 70%;
        margin: 0 auto;
    }
  }
  
  @media (max-width: 960px) {
    .container_about {
      padding: 1rem;
      padding-top: 2rem;
      background-size: contain;

  
      &_title {
        width: 90%;
        font-size: 1rem;
  
        h2 {
          font-size: 2.5rem;
        }
  
        .divider {
          width: 60px;
          height: 10px;
          background-color: rgb(0, 68, 255);
        }
      }
      .container_about_description{
        width: 100%;
        margin: 0 auto;
    }
    }
  }
  