.container_solution {
  color: black;
  background-image: url("https://images.pexels.com/photos/911758/pexels-photo-911758.jpeg");
  background-size: cover;
  background-attachment: fixed;
  padding: 5rem;

  &_text {
    width: 70%;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-family: "Raleway", sans-serif;

    .divider {
      width: 60px;
      height: 20px;
      background-color: rgb(44, 76, 255);
    }

    h2 {
      text-transform: uppercase;
      font-size: 5rem;
      margin-top: 0;
    }
  }
}

.container_solution_techno {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

@media (max-width: 1000px) {
  .container_solution {
    &_text {
      width: 80%;

      .divider {
        width: 60px;
        height: 20px;
        background-color: rgb(44, 76, 255);
      }

      h2 {
        text-transform: uppercase;
        font-size: 3rem;
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 960px) {
  .container_solution {
    padding: 1rem;
    padding-top: 2rem;

    &_text {
      width: 90%;
      font-size: 1rem;

      h2 {
        font-size: 2.5rem;
      }

      .divider {
        width: 60px;
        height: 10px;
        background-color: rgb(0, 68, 255);
      }
    }
  }
}
